*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1 {
    font-family: cursive;
    font-size: medium;
}
nav {
    background-color: #000000;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  nav ul li {
    display: inline;
    color: white;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  button {
    padding: 2px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

    /* Add hover effect */
  button:hover {
    background-color: #45a049; /* Darker green on hover */
    }